@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;1,500&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Fonts */
:root {
    --fs-body: 1rem;
    --fs-footer: .75rem;

    --ff-monserrat: 'Montserrat', sans-serif;
}

/* Z-index */
:root {
    --z-back: -1;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Colors */
:root {
    --gray-1: #4E5150;
    --gray-2: #A9A9A9;
    --gray-3: #E5E5E5;
}

/* Rounded corners */
:root {
    --round-1: 38px;
    --round-2: 20px;
    --round-3: 12px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    margin: 0;
    font-family: var(--ff-monserrat);
    font-weight: 500;
    font-size: var(--fs-body);
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2rem;
    color: var(--black-1);
    background-color: #FFFFFF;
    min-height: 100vh;
    min-width: 375px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.header__name {
    font-size: 1rem;
    color: var(--gray-1);
    margin-top: 1rem;
}

.header__origin {
    font-size: .8rem;
    color: var(--gray-2);
    margin-top: .3rem;
}

.header__photo {
    width: 102px;
    height: 102px;
}

.header__img {
    border-radius: var(--round-1);
}

.numbers {
    font-size: .8rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    font-weight: 600;
}

.numbers__container {
    background-color: var(--gray-3);
    padding: 1rem;
    text-align: center;
    border-radius: var(--round-3);
}

.photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
}

.photo {
    height: 100%;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, .15));
}

.photo--wide {
    grid-column: span 2;
    height: 100%;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, .15));
}

.photo--tall {
    grid-row: span 2;
    height: 100%;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, .15));
}

.photo__container {
    object-position: center;
    object-fit: contain;
    height: auto;
}

.photo__img {
    border-radius: var(--round-2);
    object-fit: cover;
    display: block;
    height: 100%;
    width: 100%;
}

.footer {
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-family: var(--ff-monserrat);
    font-size: var(--fs-footer);
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: var(--gray-3);
}

@media screen and (min-width: 960px) {
    body {
        padding-left: 17%;
        padding-right: 17%;
        padding-top: 3rem;
    }

    .header__photo {
        width: 156px;
        height: 156px;
    }

    .header__name {
        font-size: 1.3rem;
    }

    .header__origin {
        font-size: 1rem;
    }

    .numbers {
        font-size: 1rem;
        gap: 2rem;
        margin-bottom: 3rem;
    }

    .photos {
        grid-gap: 1.5rem;
    }
}